- if show_contact_sales_button?(purchase_link.action, plan_offer_type)
  = link_to s_('BillingPlan|Contact sales'), "#{promo_url}/sales?test=inappcontactsales#{plan.code}", class: ["btn gl-button", show_upgrade_button ? "btn-success-secondary" : "btn-success"], data: { 'track-action': 'click_button', 'track-label': 'contact_sales', 'track-property': plan.code }
- if show_upgrade_button
  = link_to upgrade_button_text(plan_offer_type),
    plan_purchase_or_upgrade_url(namespace, plan),
    class: ["btn btn-confirm gl-button", upgrade_button_css_classes(namespace, plan, is_current), "gl-ml-3"],
    data: billing_upgrade_button_data(plan)
